<h4 style="text-align: center;">{{title}}</h4>
<table class="table" style="margin-top: 33px;">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Ad</th>
        <th scope="col">Soyad</th>
        <th scope="col">E-mail</th>
      </tr>
    </thead>
    <tbody *ngFor="let customer of customerlist">
      <tr>
        <th scope="row">{{customer.id}}</th>
        <td>{{customer.firstName}}</td>
        <td>{{customer.lastName}}</td>
        <td>{{customer.email}}</td>
        <td><button (click)="deleteCustomer(customer.id)" class="btn btn-danger">X</button></td>
      </tr>
      
    </tbody>
  </table>